* {
    padding: 0;
    margin: 0;
}

nav {
    padding: 1em;
}

main {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em 0em 4em 0em;
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    border: 1px solid black;
    padding: 1em;
    margin: 1em;
    width: 250px;
    height: 275px;
}

figure img {
    width: auto;
    height: auto;
}

#nav-links {
    display: flex;
    flex-direction: column;
}

#image-container {
    display: flex;
    flex-wrap: wrap;
}

#recently-viewed {
    display: flex;
    flex-direction: column;
}

#modal {
    width: 100vw;
    height: 100vh;
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    top: 0;
    position: fixed;
    flex-direction: column;
}

#modal-close {
    font-weight: bold;
    color: white;
    font-size: 2em;
    cursor: pointer;
    padding: .5em 1em 0 0;
    align-self: flex-end;
}

#modal-img {
    width: 80vw;
    height: 90vw;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
}



